In [1]:
import pandas as pd

data1 = pd.read_csv('nbadatasets/allen.csv')
data2 = pd.read_csv('nbadatasets/carter.csv')

In [5]:
allen = data1[['Age', 'ORB']].copy()
carter = data2[['Age', 'ORB']].copy()

In [6]:
allen['Name'] = 'Allen'
carter['Name'] = 'Carter'

In [7]:
df = pd.concat([allen, carter])

In [8]:
df

   Age  ORB    Name
0   25  1.2   Allen
1   26  1.2   Allen
2   27  1.2   Allen
3   28  1.2   Allen
4   29  0.9   Allen
5   30  0.8   Allen
6   31  0.9   Allen
7   32  1.0   Allen
8   33  0.8   Allen
9   34  0.6   Allen
0   24  2.1  Carter
1   25  2.1  Carter
2   26  1.4  Carter
3   27  1.2  Carter
4   28  1.3  Carter
5   29  1.7  Carter
6   30  1.3  Carter
7   31  1.4  Carter
8   32  0.9  Carter
9   33  0.5  Carter